/* Body font-family */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700&display=swap');

body {
	font-family: 'Poppins', sans-serif ;
}

::selection{
	background: rgba(78, 205, 196, 0.5);
}

/* Custom style classes */

.bg-linear {
	background-color: #52b3d9; 
	background: linear-gradient(to right,#4ecdc4,#52b3d9);
}

.font-weight-100{
	font-weight: 100;
}

.font-weight-300{
	font-weight: 300;
}

.font-weight-400{
	font-weight: 400;
}

.font-weight-500{
	font-weight: 500;
}

.font-weight-600{
	font-weight: 600;
}

.font-size-14{
	font-size: 14px;
}

.text-ebony-clay{
	color: #22313f;
}

.bg-outer-space{
	background-color: #2e3131;
}

.text-outer-space{
	color: #2e3131;
}

.text-bitbucket{
	color: #2582FC;
}

.text-facebook{
	color: #4267B1;
}

.text-grey{
	color: #888888;
}

.bg-grey{
	background-color: rgba(228, 233, 237, 0.3);
}

/* Hi container */

#home a{
	background-color: white;
	border-radius: 25px;
}

#home a:hover{
	color: white;
	background-color: transparent;
	border: 1px solid white;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	border-radius: 0px;
}

#home a:focus{
	outline: none;
	box-shadow: none;
}

/* Extra Small devices (portrait phones, less than 576px) */
	@media (max-width: 575.98px) { 
	#home img{
		height: 300px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	#home img{
	height: 300px;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	#home img{
	height: 350px;
	}
}

/* Services Container */

#services h1{
	font-size: 35px;
}

#services h6{
	font-size: 15px;
}

#services .icon{
	height: 90px;
}

#services .service-title{
	font-size: 18px;
}

#services p{
	font-size: 14px;
}

/* About Me Container */

#about h1{
	font-size: 35px;
}

#about h6{
	font-size: 15px;
}

#about p{
	font-size: 14px;
}

#about .progress{
	border: 1px solid #B0B0B0;
	padding: 2px 2px 2px 2px;
}

#about .skills-title{
	font-size: 18px;
}

#about .progress-div{
	margin-top: 33px;
}

#about .card{
	width: 28rem;
}

#about .card-title{
	font-size: 18px;
}

#about .card-icon{
	height: 18px;
}

#about a{
	color: white;
}

#about a:focus{
	border: none;
	box-shadow: none;
}

#about a:hover{
	background: white;
	color: #22313f;
	border: 1px solid #22313f;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}

/* Projects Container */

#projects h1{
	font-size: 35px;
}

#projects h6{
	font-size: 15px;
}

#projects .project-title{
	font-size: 18px;
}

#projects p{
	font-size: 14px;
}

#projects img:hover{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transition-duration: 0.7s;
}

/* Contact container */

#contact h1{
	font-size: 35px;
}

#contact h6{
	font-size: 15px;
}

#contact p{
	font-size: 14px;
}

#contact input{
	height: 45px;
	font-size: 12px;
	background: transparent;
}

#contact input::placeholder{
	font-size: 12px;
	font-weight: 300;
}

#contact input:focus{
	box-shadow: none;
	border: 1px solid #4ecdc4;
}

#contact textarea{
	background: transparent;
	font-size: 12px;
}

#contact textarea::placeholder{
	font-size: 12px;
	font-weight: 300;
	padding-top: 4px;
}

#contact textarea:focus{
	box-shadow: none;
	border: 1px solid #4ecdc4;
}

#contact button:focus{
	box-shadow: none;
	border: none;
}

#contact button img{
	margin-left: 10px;
}

#contact button:hover img{
	margin-left: 20px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}

#contact img{
	height: 20px
}

/* Footer */

#footer h5{
	font-size: 18px;
}

#footer p{
	font-size: 14px;
}

#footer a{
	color: #4ecdc4;
}

#footer i:hover{
	opacity: 0.7;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;	
}

#footer a:hover{
	text-decoration: none;
	color: rgba(78, 205, 196, 0.6);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5;
}

#footer input{
	height: 45px;
	font-size: 14px;
	background: transparent;
	color: #888888;
	font-weight: 300;
	width: 100px;
}

#footer input::placeholder{
	font-size: 14px;
	font-weight: 300;
}

#footer input:focus{
	box-shadow: none;
	border: 1px solid #4ecdc4;
}

#footer button{
	color: #888888;
	font-weight: 300;
	font-size: 14px;
}

#footer button:focus{
	box-shadow: none;
	border: none;
}


/* Navbar links */

nav .container ul li .nav-link{
	color: white;
}

nav .container ul li .nav-link:hover{
	color: #52b3d9;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

nav .container ul li{
	border-radius: 25px;
}

nav .container ul li:hover{
	background-color: white;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
}

/* Navbar toggle button */

nav .navbar-toggler:focus{
	box-shadow: none;
	outline: none;
}

/* Animation */

#home a{
	animation: buttonFadeIn ease-in-out 1.5s;
}

@keyframes buttonFadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes buttonFadeIn{ /* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes buttonFadeIn{ /* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes buttonFadeIn{ /* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}